@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.name {
    margin: 10px 10px 10px 0px;
}

.image {
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
}

.name,
.image {
    display: inline-block;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    max-width: 900px;
}

body {
    font: normal 16px 'Montserrat', sans-serif;
    line-height: 20px;
    background: #edeef5;
}

.card {
    line-height: 25px;
}

.card-1 {
    background: #e4f7d9;
    /* border-left: 10px solid #c6ecae; */
}

.silka {
    padding: 0 10px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: inherit;
    cursor: pointer;
}

a:hover {
    color: rgb(117, 204, 45);
}

a:active {
    text-decoration: underline;
}

/* a:visited {
    color:rgb(136, 135, 135);
}   */

.card-2 {
    background: #eee0fa;
    /* border-left: 10px solid #e5c6f4; */
}

.card-2 li {
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 0 10px;
}

.card-3 {
    background: #f3f3c8;
    /* border-left: 10px solid #f7f79a; */
}

.card-3 td {
    padding: 0 5px;
}

.card-3 tr:hover {
    color: rgb(243, 159, 3);
}

.card-1,
.card-2,
.card-3 {
    margin-bottom: 10px;
    padding: 15px 20px;
    border-radius: 10px;
}

/* .spisok {
    padding: 5px 5px 5px 20px;
} */


/* .t1 {
    width: 250px;
    height: 20px;
}

.t2 {
    width: 150px;
    height: 20px;
}

.t3 {
    width: 170px;
    height: 20px;
}

.left {
    text-align: left;
} */

h4 {
    margin-bottom: 10px;
}

.btn {
    cursor: pointer;
    background: rgb(29, 29, 29);
    width: 150px;
    height: 50px;
    color: white;
    border: none;
    font-family: inherit;
    letter-spacing: .8px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.btn:hover {
    /* background:rgb(138, 137, 137); */
    opacity: .8;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-row .form-group {
    /* display: inline-block; */
    /* width: calc(50% - 20px); */
    margin-right: 20px;
    width: 50%;
}

.form-row .form-group:last-child {
    margin-right: 0;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #000000;
}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

@media (max-width: 650px) {
    .image {
        margin: 10px 10px 0 10px;
        width: 200px;
    }

    .name {
        font-size: 0.7rem;
    }

    .card,
    .card-1,
    .card-2,
    .card-3,
    .form {
        margin: 10px;
        font-size: 0.9rem;
    }
}

@media (max-width: 950px) {
    .card,
    .card-1,
    .card-2,
    .card-3,
    .form {
        margin: 10px;
    }
    .image {
        margin: 10px 10px 0 10px;
    }
}

@media (max-width: 650px) {
    .form-row {
        display: block;
    }
}